input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

::-webkit-calendar-picker-indicator {
    background: transparent url('/images/calendar.png') no-repeat center;
    color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

:focus::-webkit-calendar-picker-indicator {
    background: transparent url('/images/calendar-focused.png') no-repeat center;
}


*:focus {
    outline: none
}

a:hover, a:active, a:focus {
    text-decoration: none !important;
}

table {
    font-size: inherit;
}


/* calc layout */

.calc-form {
    display:block;
    margin-bottom: 0;
    padding-top: 18px;
}

.calc-form-body {

}

.calc-frow {
    padding: 0 14px 20px;
    clear: both;
}

.calc-fleft {
    width: 25%;
    padding-top: 7px;
    float: left;
}

.calc-fright {
    margin-left: 28%;
}

.calc-frow.not-input .calc-fright {
    padding-top: 7px;
}

.calc-frow.loading-row {
    display: none;
    padding-top:1rem;
}

/* для старой версии кальков */
.calc-frow.sep {
    border-top: 1px solid #dde5e7;
    padding-bottom: 13px;
}

/* для новой ajax версии кальков */
.calc-frow.result-sep {
    display: none;
    padding-bottom: 15px;
    border-top: 1px solid #dde5e7;
}

.calc-frow.sep-top {
    border-top: 1px solid #dde5e7;
    padding-top: 10px;
}



@media only screen and (min-width: 0px) and (max-width: 480px) {

    .calc-form {
        padding-top: 12px;
    }

    .calc-frow {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .calc-fleft {
        width: 100%;
        float: none;
        padding-bottom: 8px;
        padding-top: 0;
        font-weight: bold;
    }

    .calc-frow.result-row .calc-fleft {
        font-weight: 400;
    }

    .calc-fright {
        width: 100%;
        float: none;
        margin-left: 0;
    }
}


/* calc elements */

.calc-input {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.calc-result-value {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
}

.calc-result-value.not-bold {
    font-weight: normal;
}

.calc-result-value.raw {
    font-weight: normal;
    font-size: 1em;
    display: block;
}

.calc-input-desc {
    display: inline-block;
    color: #758a9a;
}

.calc-text-desc {
    color: #758a9a;
}

.calc-input-notice {
    margin-top: 4px;
    font-size: 0.9em;
    color: #999999;
}

.calc-inp, .calc-select {
    display: inline-block;
    max-width: 100%;
    padding: 0 8px;
    background-color: #fff;
    transition: all 0.3s ease;
}

textarea.calc-inp {
    line-height: 1.3em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.calc-submit {
    display:inline-block;
    padding:0 20px;
    height:36px;
    line-height: 33px;
    border: none;
    cursor:pointer;
    text-decoration:none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.calc-toggle {
    text-decoration: none;
    margin-right: 15px;
    white-space: nowrap;
    padding: 2px 0;
    cursor: pointer;
    line-height: 2em;
}

.calc-toggle.current {
    border-bottom: 1px solid;
    font-weight: bold;
}

/* tables */

.calc-form-table {
    font-size: 1em;
}

.calc-form-table td {
    padding: 3px;
    vertical-align: top;
}

.calc-form-table tr:first-child td {
    padding-top: 0;
}

.calc-form-table td:first-child {
    padding-left: 0;
}

.calc-form-table td:last-child {
    padding-right: 0;
}

.calc-form-table th {
    font-size: 0.85em;
    font-weight: 400;
}

.calc-form-table img, .calc-form-table .fa-minus-square, .calc-form-table .fa-times {
    position: relative;
    top: 8px;
}

.schedule-table td, .schedule-table th {
    border: solid #ecf0f1;
    border-width: 1px;
    padding: 7px;
    background-color: #fbfcfc;
}

.schedule-table th {
    color: #566473;
    font-weight: 400;
    vertical-align: top;
    text-align: left;
    border-bottom-width: 2px;
}

.schedule-table:not(.no-hover) tr:hover {
    background-color: #fbfcfc;
}

.schedule-table tr.year-sep td {
    border-top-width: 2px;
}

.schedule-table {
    font-size: 0.9375em; /* 15px */
}

/* до 767 основной размер шрифта - 16, поэтому уменьшает здесь */
@media only screen and (max-width: 767px) {
    .schedule-table {
        font-size: 0.8125em; /* 13px */
    }
}


.table-offers {
    margin-bottom: 0; /* хз откуда там появился */
}

.table-offers td {
    vertical-align: middle;
}

.table-offers td:first-child {
    padding-left: 0;
}

.table-offers tr:first-child td {
    padding-top: 0;
}

@media only screen and (max-width: 575px) {
    .table-offers {
        font-size: 0.875em; /* 14px */
    }
}


/* checkboxes and radio */

.calc-form label {
    margin-bottom: 0;
}

.calc-checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.calc-checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
    display: inline-block;
    height: 22px;
}

.calc-checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    box-sizing: content-box;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #bdc3c7;
    background: #FFF;
}

.calc-checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    box-sizing: content-box;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    opacity: 0;
    transition: all .2s;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23758a9a' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.calc-checkbox:checked + label:after {
    opacity: 1;
}

.calc-radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.calc-radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 30px;
    display: inline-block;
    height: 22px;
}

.calc-radio:not(checked) + label:before {
    content: '';
    position: absolute;
    box-sizing: content-box;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #bdc3c7;
    background: #FFF;
    border-radius: 50%;
}

.calc-radio:not(checked) + label:after {
    content: '';
    position: absolute;
    box-sizing: content-box;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #758a9a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .1s;
}

.calc-radio:checked + label:after {
    opacity: 1;
}

.calc-radio:checked:disabled + label:after {
    opacity: 0.5;
}

.radio-sep {
    font-size: 0;
    height: 8px;
}