.calc-form {
    background-color: #ECF0F1;
    border-top: 3px solid #dde5e7;
}

.button-row {
    position: relative;
    background-color: #dde5e7;
    /*padding: 18px 14px;*/
    /*margin: 0 -14px;*/
    padding-top: 18px;
    padding-bottom: 18px;
}

@media only screen and (max-width: 480px) {
    .button-row {
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 8px;
    }
}

.button-row .calc-fright {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
}

.calc-form-footer {
    background-color: #dde5e7;
    padding: 18px 14px;
}

.calc-input-desc {
    padding-top: 1px;
}

.calc-input-desc.middle {
    padding-top: 9px;
}

.calc-inp {
    height: 36px;
    line-height: 36px;
    border: 1px solid #bdc3c7;
}

.calc-inp:focus {
    border-color: #246F91
}

.calc-inp.calc-error {
    border: 1px solid #f26c63;
}

div.calc-error {
    background-color: #f26c63;
    padding: 3px 5px;
    color: white;
    font-size: 11px;
}

select.calc-error + .chosen-container .chosen-single {
    border-color: #f26c63 !important;
}

select.calc-error + .chosen-container .chosen-drop {
    border-color: #f26c63 !important;
}

.calc-submit {
    border-bottom: 2px solid #2980b9;
    border-top: 2px solid transparent;
    background: #3498db;
    font-size: 0.9em;
}

.calc-submit:hover {
    background-color: #00acee;
}

.calc-submit:active {
    background-color: #2980b9;
    border-top-color: #206491;
}

.calc-submit.disabled, .calc-submit:disabled {
    cursor: default;
    opacity: 0.5;
    background: #3498db;
}

.calc-toggle {
    border-bottom: 1px dashed;
}

.calc-count {
    font-size: 0.857rem;
    color: #758a9a;

}

.calc-loading {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #3498db;
    width: 0;
    max-width: 100%;
}

/* chosen */

.chosen-single {
    border: 1px solid #bdc3c7 !important;
    padding: 8px !important;
    background: #fff !important;
    box-shadow: none !important;
    transition: all 0.2s ease !important;
    border-radius: 0 !important;
    height: auto !important;
    line-height: 1.4 !important;
    color: #000 !important;
}

.chosen-container-single .chosen-single div b {
    background-position: 0 8px !important;
}

.chosen-drop li {
    background: none;
    color: #000;
}


/* buttons */
.btn {
    transition: none;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}

.btn-success {
    background-color: #45bb60;
    border: none;
    border-bottom: 2px solid #28a745;
}

.btn-success:hover {
    background-color: #5cc473;
    border-bottom-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active {
    background-color: #28a745;
    border-color: #28a745;
}


/* tooltips */

.calc-tooltip {
    display: inline-block;
    box-sizing: content-box;
    opacity: 0.5;
    cursor: pointer;
    margin: 0 3px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 2px solid #95a5a6;
    border-radius: 12px;
    color: #95A5A6;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: "Times new roman";
    transition: opacity 0.3s ease;
}

.calc-tooltip:hover {
    opacity: 1;
}

.tooltip-inner {
    background-color: #505050;
    border-color: #303030;
    color: #f3f3f3;
    font-size: 1rem;
    border-radius: 0;
    box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);
    padding: 0.5rem 0.75rem;
    max-width: 300px;
}

.tooltip .arrow::before {
    display: none;
}

.tooltip.show {
    opacity: 1;
}


