html {
    font-size: 14px;
}

a {
    color: #2b77aa;
}

.calc-form {
    background-color: #fff;
    border-top: none;
}


.calc-form-footer {
    background-color: transparent;
    padding-top: 4px;
}

.calc-frow.result-row {
    display: none;
}

.calc-frow.button-row {
    background-color: transparent;
    padding-top: 10px;
}

.calc-frow.sep {
    display: none;
}

.calc-frow.result-sep {
    display: none;
}

.calc-count {
    display: none;
}

.calc-inp {
    border-radius: 0.25rem;
}

.calc-error {
    border-radius: 0.25rem;
    margin-top: 1px;
}

.chosen-single {
    border-radius: 0.25rem !important;
}

.calc-submit {
    border: none;
    border-radius: 0.25rem;
}


.schedule-wrapper {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 0 5px #999;
    background: rgba(255, 255, 255, 1);
    overflow: auto;
}

.close-schedule {
    width: 32px;
    height: 32px;
    margin: 10px auto;
    background: url(/images/close32.png) top center no-repeat;
    cursor: pointer;
}

.calc-backlink {
    margin-top: 15px;
    font-size: 0.85em;
    color: #888;
}