a{color: #1E549F; text-decoration: none;}
a:hover, a:focus {text-decoration: none;}

/*  ----------------------------------------------------------------
==========================   background   ==========================
----------------------------------------------------------------- */
.bg-primary, 
#nav, 
.social-icons li a .tt, 
.wn_slider .flex-direction-nav li a, 
.wn_slider .flex-control-nav li a, 
.btn, 
.bg-1, 
.price-box-head,
.bg-default,
#nav ul li > ul li a:hover, #nav ul li > ul li:hover > a,
.social-icons li a:hover,
.view-item:before,
.clients-slider .flex-direction-nav a,
.btn-send:hover,
.post-details a:hover,
.posts_nav a, .continue_reading, .reade_more,
.wn-slider .flex-direction-nav .flex-prev, .wn-slider .flex-direction-nav .flex-next,
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.resp-tabs-list li.resp-tab-active,
.resp-vtabs li.resp-tab-active,
h2.resp-tab-active,
a.comment-reply,
.package-price-row,
.testimonial-slider .flex-control-nav li a:hover,
.testimonial-slider .flex-control-nav li a.flex-active {background-color: #1E549F; color: #fff;}

/*  ----------------------------------------------------------------
============================   Color   =============================
----------------------------------------------------------------- */
.color-primary, 
.contact-details li .fa, 
.icon-holder,
.icon-style2,
#nav ul li:hover,
#nav ul li > ul li a,
.view-item a,
.portfolio-categories li a  {color: #1E549F;}

/* ========================= 	Buttons   ========================= */
.btn-white { color: #1E549F; border: 1px solid #1E549F; background: #fff;}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white { background-color: #1E549F; color: #fff; border-color: #fff;}

/* ========================= 	Buttons   ========================= */
.btn-white { color: #1E549F; border: 1px solid #1E549F; background: #fff;}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white { background-color: #1E549F; color: #fff; border-color: #fff;}
/* --------- Button success ---------- */
.btn-success {color: #ffffff; background-color: #91C12D;}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {color: #ffffff; background-color: #7AA71C;}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {background-image: none;}

/* --------- Button info ---------- */
.btn-info {color: #ffffff; background-color: #5C7EE0;}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {color: #ffffff; background-color: #3556B4;}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {background-image: none;}

/* --------- Button warning ---------- */
.btn-warning { color: #ffffff; background-color: #E69837;}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {color: #ffffff; background-color: #E48012;}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {background-image: none;}

/* --------- Button danger ---------- */
.btn-danger {color: #ffffff; background-color: #e4675e;}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {color: #ffffff; background-color: #dd3e32;}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {background-image: none;}

/* ------------- Border colors ----------- */
.resp-tabs-list li.resp-tab-active,
.resp-vtabs li.resp-tab-active,
h2.resp-tab-active,
.wp_comments ul li .comment_avatar {border-color:#1E549F;}
.social-icons li a .tt:after,
li.resp-tab-active:after  {border-top-color: #1E549F;}
.testimonial-slider .control-nav a:hover:before, 
.testimonial-slider .flex-control-nav li a.flex-active:before,
.testimonial-slider .flex-control-nav li a:hover:before,
.testimonial-slider .control-nav a.selected:before {border-right-color: #1E549F;}
.wp_comments ul li .comment_avatar:after,
.resp-vtabs li.resp-tab-active:after {border-left-color: #1E549F;}
.portfolio-categories li a:hover, 
.portfolio-categories li.active a {border-bottom-color:  #1E549F;}


/* ============ Icons ====================== */
.icon-holder:hover:after,
.anim4:before, 
.anim4:after {box-shadow: 0 0 0 2px #1E549F;}
.anim1:after {box-shadow: 0 0 0 2px #1E549F;}
.anim2:before {border: 2px solid #1E549F}
.anim3 { border: 2px solid #1E549F}
.anim1:hover:before,
.anim2:after,
.anim3:before, 
.anim3:after {background: #1E549F;}

/* =========== Active ================ */
.team-social .social-icons a:hover,
.accordion-header,
.accordion-header .bubble span,
.testimonial-slider .control-nav a:hover, .testimonial-slider .control-nav a.selected {background: #1E549F;} 
.accordion-current .accordion-header, .accordion-current .bubble span {background-color: #2E79BA;}

/* ============= Footer bottom Svg arrow fill color =============== */
#footer .goto-top .goto-arrow {fill: #1E549F;}


/* -------------------------------------------------------------------
====================== Secondary color ===============================
------------------------------------------------------------------- */
.btn-secondary, a.btn-secondary, .btn-send, .posts_nav a:hover, a.comment-reply:hover  {background-color: #F35E3E; color: #fff;}
/* -------  Hover --------------- */
.btn-secondary:hover, a.btn-secondary:hover, .btn-send:hover  {background-color:transparent; border-color: #F35E3E; color: #F35E3E;}
.btn-send:hover input[type="button"], .btn-send:hover input[type="submit"] {color: #F35E3E;}

/* ==================================================================
------------------------ Responsive color ---------------------------
================================================================== */
@media (max-width: 991px) {
	#nav ul li > ul li a {color: #fff;}
}
@media (max-width: 599px) {
	.wp_comments ul li .comment_avatar:after { border-top: 10px solid #1E549F; border-left: 8px solid transparent}
}s